<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microservices.notificationservice.mapper.TdOrderMapper">
    <select id="getByOrderNumber" resultType="com.microservices.notificationservice.model.dto.Order">
        SELECT
            order_number, order_date
        FROM
            order_service.td_order
        WHERE
            order_number = #{orderNumber}
    </select>
</mapper>