<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microservices.notificationservice.mapper.TdOrderItemsMapper">
    <select id="getItemsByOrderNumber" resultType="com.microservices.notificationservice.model.dto.OrderItems">
        SELECT
            sku_code, price, quantity
        FROM
            order_service.td_order_items
        WHERE
            order_number = #{orderNumber}
    </select>
</mapper>